@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin easeOut{
  transition: all 500ms ease-out;
}
@mixin border{
  border: solid 0.5px lighten($lighter-dark, 50%);
  border-radius: 7px;
}