//Theme
$primary: #4586FF;
$dark: #383838;
$lighter-dark:lighten($dark,20%) ;
$light:#F5F5F5;
$white: rgb(255, 255, 255);
$danger:#ff5252;
$upvote:#FF8b60	;
$downvote:#9494FF;
//I'm using css varible because it will be changed with js
