@import 'vendor/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/media-queries';
@import 'partials/layout';
@import 'partials/loader';
@import 'partials/button';
@import 'partials/navbar';
@import 'partials/dropdown';
@import 'partials/error-list';
@import 'partials/community';
@import 'partials/form';
@import 'partials/posts-container';
@import 'partials/post';
@import 'partials/post-full';
@import 'partials/votes-container';
@import 'partials/comments-container';
@import 'partials/comment';
@import 'partials/user-page';
@import 'partials/breadcrumbs';
@import 'partials/community-preview';
@import 'partials/communities-container';
@import 'partials/main-container';
@import 'partials/postbar';
@import 'partials/modal';
@import 'partials/button-icon';
@import 'partials/home-page';
@import 'partials/home-banner';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-size: 10px;
  color: $dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// .active{
//   color:$danger;
// }
a{
  text-decoration: none;
}