@import 'vendor/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/media-queries';
@import 'partials/loader';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x:hidden
}
body{
    font-size: 10px;
    color: $dark;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
