.community{
    width: 100%;
    
    @include large-screen{
    display: grid;
    grid:'. posts-container details .'/2fr 4fr 3fr 2fr;
    grid-gap: 1rem;
    &-details{
        grid-area: details;
        background: darken($white,1%)
    }
    .posts-container{
        grid-area: posts-container;
    }
    }
   
    &-details{
        &-title{
            display: none;
            @include large-screen{
                display: block;
            }
        }
        &-header{
            width: 100%;
            display:flex;
            align-items: center;
            justify-content: space-around;
        }
    width: 100%;
    height: 23rem;
    @include center;
    grid-gap: 0.7rem;
    @include large-screen{
        @include border;
    }
    }
    &-subscribers{
        color: $lighter-dark;
    }
    &-banner{
        width: 100%;
        height: 10rem;
        @include center;
        background: $primary;
        @include large-screen{
            background:$primary
        }
    }
    &-logo{
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
        background: $white;
        border:solid 1px $white;
        @include center;
        img{
            height: 3rem;
            width: 3rem;
        }
    }
    .buttons-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
        width: 90%;
        @include large-screen{
            grid-template-columns: 1fr ;
        }
        button{
            @include border-radius;
            background: $primary;
            font-size: 0.9rem;
            padding: 0.4rem;
            color: $white;
            &:hover{
                background: darken($primary,10%);
            }
        }
    }
}