
.form{
    background: $white;
    @include center;
    grid-gap: 1.2rem;
    @include border;
    padding: 1rem;
    width: 90vw;
    @include medium-screen{
        width: 30rem;
    }
    .form--logo{
        img{
            height: 3rem;
            width: 3rem;
            object-fit: cover;
            border-radius: 100%;
        }

    }
    .input{
        padding: 0.7rem;
        font-size: 0.8rem;
        width: 80vw;
        @include border;
        outline: none;
        @include medium-screen{
            width: 25rem
        }
        &:focus{
            border: solid 0.5px $primary;
        }
        &--error{
            border: solid 0.5px $danger
        }
    }
    .label{
        font-size: 0.9rem;
    }
    button{
        background: $primary;
        color: $white;
        font-size: 0.8rem;
        padding: 0.6rem 2rem 0.6rem 2rem;
        border-radius: 7px;
        font-weight: bold;
        border-color: none;
        &:hover{
            background: darken($primary,10%);
        }
    }
}

