.main--container{
    width: 100vw;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr

}
.form{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-gap: 1.2rem;
    @include border;
    padding: 1rem;
    .form--logo{
        img{
            height: 3rem;
            width: 3rem;
        }

    }
    .input{
        padding: 0.7rem;
        font-size: 0.8rem;
        width: 80vw;
        @include border;
        outline: none;
        @include medium-screen{
            width: 25rem
        }
        &:focus{
            border: solid 0.5px $primary;
        }
        &--error{
            border: solid 0.5px $danger
        }
    }
    button{
        background: $primary;
        color: $white;
        font-size: 0.8rem;
        padding: 0.6rem 2rem 0.6rem 2rem;
        border-radius: 7px;
        font-weight: bold;
        border-color: none;
        &:hover{
            background: darken($primary,10%);
        }
    }
}