.layout {
  width: 100vw;
  height: 100%;
  display: grid;
  grid:
    'navbar'
    'container'/ 1fr;
  grid-gap: 1rem;
  .navbar {
    grid-area: navbar;
  }
  .main--container {
    grid-area: container;
  }
}
