.modal-container{
    transform: translateY(50vh);
    position: absolute;
    display: grid;
    width: 100vw;
    height: 4rem;
    z-index: 10;
    @include center;
}
.modal{
    width: 80vw;
    height: 3.5rem;
    margin:1rem auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 4fr 2fr;
    justify-items: left;
    background: $white;
    align-content: center;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.15);
    @include border;
    &-logo{
        height: 2rem;
        width: 2rem;
    }
    &-message{
        padding: 0.3rem;
        font-size: 1.2rem;
    }
}