.post-full {
  display: grid;
  justify-items: center;
  width: 100vw;
  grid-gap: 2rem;
  .post-body{
  grid-area: body;
  padding: 0.3rem;
}
  .post-description {
    width: 100%;
    display: grid;
    justify-items: left;
    align-content: center;
    grid-gap: 0.7rem;
  }
  .post-source-wrapper{
      display: flex;
      align-items: center;
  }
  .post-author,.post-community{
      padding: 0.3rem;
  }
  .post-author {
    font-size: 0.7rem;
    word-wrap: break-word;
  }
  .post-community {

    font-size: 0.8rem;
  }

  .post-content {
      font-size: 0.8rem;
      line-height: 1.6;
      padding-right: 0.3rem;
  }
  .comment-form-container{
    @include center;
    grid-gap: 0.3rem;
  }
  .comment-button{
    color:$primary;
    font-size: 0.7rem;
  }
}
