.post-full {
  display: grid;
  justify-items: center;
  width: 100vw;
  grid-gap: 2rem;
  .community-details{
    display: none;
    @include larger-screen{
      display: grid;
    }
  }
  @include larger-screen{
    display: grid;
    grid:'.  post details .' min-content
          '. comments . .'/2fr 4fr 3fr 2fr;
    .community-details{
      grid-area:details;
    }
    .post-comments{
      grid-area:comments
    }
    .post-container{
      grid-area:post;
    }
  }



  .post-comments{
  width: 100%;
   }
  
  .comment-form-container{
    @include center;
    grid-gap: 0.3rem;
  }
  .comment-button{
    color:$primary;
    font-size: 0.7rem;
  }
}
