.postbar{
    position: relative;
    &-button{
        color: lighten($lighter-dark,5%);
        padding: 0.3rem;
        font-size:0.8rem;
        cursor: pointer;
        span{
            padding: 0 0.3rem 0 0.3rem;
        }
    }
    .saved{
        color: $primary;;
    }
    &-button-with-options{
        display: inline;
    }
    &-button-options{

        display: none;
        &.active{
            display: block;
            list-style: none;
            position:absolute;
            background: $white;
            @include border;
            padding: 0.4rem;
            transform: translateY(0.2rem);
            box-shadow: 1px 1px 1px 0 rgba(0,0,0,.25)
        
        }
    }
}