.posts-container{
    grid-gap:1rem;
    display: grid;
    justify-items: center;
    margin:1rem 0 1rem 0;
    width: 100%;
    .posts{
        display: grid;
        justify-items: center;
        grid-gap: 1rem;
        width: 100%;
    }
    .load-more-button{
        background: $primary;
        color: $white;
        @include border-radius;
    }
}