.post{
    @include border;
    width: 100vw;
    display: grid;
    grid:'votes body'/1fr 9fr;
    @include large-screen{
        width: 50vw;
        height: 8rem;
    }
    .upvoted{
        color:$upvote
    }
    .downvoted{
        color:$downvote
    }
    
     &-body{
         grid-area: body;
        display: grid;
        align-content: center;
        grid-gap: 0.3rem;
     }
    &-link{
        display: block;
        padding: 0.5rem;
        text-decoration: none;
    }
    &-author{
        color: lighten($lighter-dark,25%);
        font-size: 0.8rem;
        padding: 0.3rem;
        font-weight: 200;
    }
    &-title{
        font-size: 1.2rem;
        color: $dark;
    }
    &-info{
        &-button{
            color: lighten($lighter-dark,5%);
            padding: 0.3rem;
            font-size:0.8rem;
            cursor: pointer;
            span{
                padding: 0 0.3rem 0 0.3rem;
            }
        }
    }
}